// img {
// 	max-width: 200px;
// }

// Header
header {
	.navbar {
	    transition: all 1s ease;
		padding: 1em 0;
		border-radius: 0;
		border: none;
		background-color: transparent;
	}
	.navbar-default .navbar-nav a {
		color: $body-font-color;
		font-size: 1.4em;	
		padding-top: 1em;
	}
	.navbar-default .navbar-nav a:hover {
		color: $title-font-color;
	}
	.navbar-default .navbar-nav .active a {
		background-color: transparent;
		color: $title-font-color;
		&:hover {
			background-color: transparent;
			color: $title-font-color;
		}
	}
}

// Navbar Brand
.navbar-default .navbar-brand {
	padding: 0 2em;
	color: $title-font-color;
	h2 {
		letter-spacing: 0.2em;
		font-family: 'Poiret One', sans-serif;
		box-shadow: 0 5px 5px -5px;
	    padding: 0 0 0.6em;
	}
	h4 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		letter-spacing: 0.66em;
		padding-top: 0.5em;
	}
	&:hover {
		color: transparentize($title-font-color, 0.2);
	}
}

// Navbar Toggle
.navbar-header .navbar-toggle {
	background-color: $title-font-color;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: $title-font-color;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media only screen
and (max-width: 768px){
	.navbar-collapse {
		background-color: #fff;
	}
	header .navbar {
		padding: 0;
		background-color: #fff;
		box-shadow: 0 5px 5px -5px $title-font-color;

	}
	.navbar-default .navbar-brand {
		padding: 0 2em;
		color: $title-font-color;
		h2 {
			font-size: 1em;
			float: left;
			letter-spacing: 0.2em;
			font-family: 'Poiret One', sans-serif;
			box-shadow: none;
		    padding: 0 0.2em;

		}
		h4 {
			font-size: 1em;
			float: left;
		    font-family: 'Lato', sans-serif;
			letter-spacing: 0.2em;
			padding-left: 0.4em;
		}
	}
}

// Navbar after scrolling

header .past-scroll {
	padding: 0;
	background-color: #fff;
	box-shadow: 0 5px 5px -5px $title-font-color;
	.navbar-header{
		.navbar-brand {
			padding: 0 2em;
			color: $title-font-color;
			h2 {
				font-size: 1em;
				float: left;
				letter-spacing: 0.2em;
				font-family: 'Poiret One', sans-serif;
				box-shadow: none;
			    padding: 0 0.2em;
			}
			h4 {
				font-size: 1em;
				float: left;
			    font-family: 'Lato', sans-serif;
				letter-spacing: 0.2em;
				padding-left: 0.4em;
			}
		}		
	}
}

// Carousel

header {
	.full-height{
		.item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 100%;
			width: 100%;
		}
	}
	.carousel-fade {
	    .carousel-inner {
	        .item {
	            transition-property: opacity;
	        }
	        
	        .item,
	        .active.left,
	        .active.right {
	            opacity: 0;
	        }

	        .active,
	        .next.left,
	        .prev.right {
	            opacity: 1;
	        }

	        .next,
	        .prev,
	        .active.left,
	        .active.right {
	            left: 0;
	            transform: translate3d(0, 0, 0);
	        }
	    }

	    .carousel-control {
	        z-index: 2;
	    }
	}
}

.page {
	padding: 3em 0;
	h2 {
		font-family: 'Poiret One', sans-serif;
		text-align: center;
		margin-bottom: 1.5em;
	}
}

// Pages What
#what {
	.content {
		padding: 0 3em;
	}
	box-shadow: 0px 3px 3px #777 inset;
	background-color: #fff;
	color: $body-font-color;
	padding-left: 0 8em;
	padding-right: 0 8em;
	h2 {
	}
	p {
		padding: 0 0 2em;
		clear: both;
	}
}

@media only screen
and (max-width: 768px){
	#what {
		p {
			padding: 0 0 2em;
		}
	}
}

// services Pages
#services  {
	box-shadow: 0px 6px 10px -5px #111 inset;
	color: #fff;
	@include background-image(linear-gradient($page-color-2 0, $page-color-1 90%));
	// background-color: $page-color-1;
	border-bottom: 1em solid transparentize($title-font-color, 0.1);
	text-align: center;
	h2 {
		font-family: 'Lato';
		font-weight: 300;
		// letter-spacing: 0.2em;
	    padding: 0 0 0.4em;
	    border-bottom: 1px solid transparentize($title-font-color, 0.1);
	    // box-shadow: 0px 4px 8px -6px transparentize($title-font-color, 0.1);
	}
	img {
		display: block;
		margin: 0 auto;
		max-width: 50%;
		&:hover {
		}
	}
	h3 {
		font-family: 'Lato';
		font-weight: 300;
		padding: 0.5em 0 1.5em;
		letter-spacing: 0.2em;
	}
}

@media only screen
and (max-width: 768px){
	#services  {
		img {
			max-width: 80%;
			float: left;
			clear: both;
			padding: 2em;
		}
		article.service {
			display: table;
		}
		.h3-class {
			display: table-cell;
			vertical-align: middle;
			width: 60%;
			text-align: left;
			h3 {
				float: left;
				font-size: 2em;
			}
		}
	}
}

// page meet

#meet {
	// box-shadow: 0px -4px 8px -5px #777 inset;
	p {
		font-size: 0.9em;
		text-align: justify;
	}
	.prof-image {
		text-align: center;
	}
	.crew {
		padding-top: 2em;
	h3 {
		margin-top: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
	}
	}
	img.crew-picture {
		border-radius: 2em;
		max-width: 100%;
		box-shadow: 2px 2px 2px #aaa;
	}

}

@media only screen
and (max-width: 768px){
	#meet {
		img.crew-picture{
			max-width: 50%;
		}
	}
	.crew-bio {
		padding: 2em 8em;
	}
	p {
		font-size: 1em;
	}
}

// page Testimonials

.testimonial-head{
	// @include background-image(linear-gradient(#FFF 50%, $page-color-1 100%));
	padding-top: 3.5em;
	font-family: 'Poiret One', sans-serif;
	// border: 1px solid #111;
	// background-color: $page-color-2;
	h2 {
		text-align: center;
		display: block;
		margin: 0 auto;
		font-size: 1.7em;
	}
	.word-of-mouth {
		// box-shadow: 3px 2px 4px #888;
		color: #FFF;
		background-color: $page-color-1;
		min-width: 20em;
		max-width: 25%;
		padding: 0.5em 2em;
		// border: 1px solid #111;
		border-top: 1px solid $page-color-2;
		border-right: 1px solid $page-color-2;
		@include border-top-radius(1.5em);
	}
}

#testimonials-content {
	padding: 0;
	blockquote {
		margin: 0;
		padding: 0;
		border: none;
		min-height: 25em;
		position: relative;
	}
	.quote {
		@include border-top-radius(1.5em);
		background-color: rgba(255,255,255,0.6);
		padding: 1em 5%;
		position: absolute;
		bottom: 0;
		right:0;
		width: 75%;
		font-weight: 300;
		font-size: 0.8em;
		&:hover{
			background-color: rgba(255,255,255,0.9);
			.more {
			opacity: 1;
			font-size: 1em;
			line-height: 100%;
			padding-top: 1em;
			}
		}
		.more {
			opacity: 0;
			font-size: 0;
			line-height: 0;
			padding-top: 1em;
		}
		.customer {
			padding-top: 1em;
			float: right;
			font-weight: 700;
		}
	}
	#quote-a {
		background: image-url('1.png') no-repeat center center;
		background-size: cover;
	}
	#quote-s {
		background: image-url('2.jpg') no-repeat center center;
		background-size: cover;

	}
	#quote-d {
		background: image-url('3.jpg') no-repeat center center;
		background-size: cover;

	}
	#quote-f{
		background: image-url('4.jpg') no-repeat center center;
		background-size: cover;

	}

}

@media only screen
and (max-width: 768px){
	.testimonial-head{
		h2 {
			font-size: 1.5em;
		}
	}
}

// Footer
.navbar-footer {
	padding: 3em 4em 2em;
	background-color: #222;
	color: #888;
	box-shadow: -2px -2px 8px #111 inset;
	a {
		color: #bbb;
	}
	.more {
		padding-bottom: 1em;
	}
	.created-by {
		text-align: right;
	    padding: 1em 1.3em 0;
	}
	.nav > li > a {
		// border-bottom: 1px solid #888;
		// border-right: 1px solid #888;
		&:hover {
			background-color: rgba(20,20,20,1);
		}
	}
}

